/*/ Variables de couleur /*/
* body {
  font-family: Roboto, sans-serif;
}

header {
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
header .titre {
  font-family: Shrikhand, "cursive";
  margin: 0px;
}

.formulaire {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
  background-color: #f3f3f3;
  font-size: 16px;
}
.formulaire i {
  margin-right: 10px;
}

.hero {
  text-align: center;
  background-color: #fafafa;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.hero .hero__titre {
  margin: 0px;
}
.hero .hero__sous-titre {
  margin: 25px 0;
  font-weight: 300;
}
.hero .hero__btn {
  padding: 20px;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
}

.btn {
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 50px;
  color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.tuto {
  padding: 30px 15px;
}
.tuto .tuto__elements {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tuto .tuto__elements .tuto__element {
  padding: 25px;
  margin: 16px 0 16px 12px;
  margin-top: 16px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  position: relative;
  background-color: #ffffff;
}
.tuto .tuto__elements .tuto__element i {
  margin: 0 15px 0 10px;
}
.tuto .tuto__elements .tuto__element i:hover {
  color: #9356dc;
}
.tuto .tuto__elements .tuto__element .span {
  color: #ffffff;
  justify-content: center;
  border-radius: 100%;
  padding: 6px 9px 4px 9px;
  margin-top: 5px;
  background-color: #9356dc;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  position: absolute;
  left: -16px;
  top: 16px;
}

.restaurants {
  background-color: #ffffff;
  padding: 30px 15px;
}
.restaurants .conteneur {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 30px;
}

.menu {
  background-color: #fff;
  border-radius: 16px;
  text-decoration: none;
  position: relative;
  margin-bottom: 30px;
}
.menu .menu__image {
  width: 100%;
  height: 200px;
  border: 0 solid transparent;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.menu .menu__badge {
  padding: 10px;
  background-color: #99e2d0;
  color: #1b6150;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  margin-top: 20px;
}
.menu .menu__pied {
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative;
}
.menu .menu__pied i {
  color: #ffffff;
}
.menu .menu__pied i:hover {
  color: #9356dc;
}
.menu .menu__pied .menu__contenue {
  flex: 1;
}
.menu .menu__pied .menu__contenue .menu__titre {
  margin: 0 0 5px 0;
}
.menu .menu__pied .menu__contenue .menu__sous-titre {
  margin: 0;
}

.footer {
  background-color: #353535;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.footer .conteneur__logo {
  color: #ffffff;
  font-family: Shrikhand, "cursive";
  font-size: 25px;
  padding: 0;
}
.footer .footer__liste {
  list-style: none;
  padding: 0;
  margin: 10px 0 10px 0;
}
.footer .footer__liste .footer__sous-liste {
  margin: 10px 0;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer .footer__liste .footer__sous-liste i {
  color: #ffffff;
}
.footer .footer__liste a {
  color: #ffffff;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
