@import "utilitaire/variables";

.body {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "layout/header";

@import "components/formulaires";

@import "components/hero";

@import "components/buttons";

@import "components/tuto";

@import "components/restaurants";

@import "layout/footer";

@import "components/image";

@import "buttons/coeur";

@import "menu/header";

@import "menu/layout";

@import "menu/choix";
