.footer {
    background-color: #353535;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .conteneur__logo {
        color: #ffffff;
        font-family: Shrikhand, "cursive";
        font-size: 25px;
        padding: 0;
    }
    .footer__liste {
        list-style: none;
        padding: 0;
        margin: 10px 0 0 0;
        .footer__sous-liste {
            margin: 10px 0;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            i {
                margin-right: 7px;
                width: 10px;
                height: auto;
                color: #ffffff;
            }
        }
        a {
            color: #ffffff;
            text-decoration: none;
        }
    }
}
