@media (min-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .carte {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 100px;
        padding-left: 100px;
        max-width: 600px;
        margin: auto;
        margin-top: -50px;
        position: relative;
    }
}
