.carte {
    background-color: #fafafa;
    .carte__titre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10px;
        margin: 0px 10px;

        .titre {
            font-family: "Shrikhand", serif;
            font-weight: 400;
            margin: 0px;
        }
    }
}
