.carte {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    width: 100%;
    margin-top: -50px;
    position: relative;
}

.carte__entrée {
    display: flex;
    flex-direction: column;
    .carte__entrée--titre {
        font-size: 16px;
        font-weight: 100;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0;
    }
    .barre__verte {
        width: 20px;
        padding: 2px 10px;
        background-color: $couleur-terciaire;
        margin-left: 10px;
        margin-bottom: 5px;
    }
}
